* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  background: #1e1e1e;
  z-index: 1;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

p,
h1,
h2,
ul,
a,
code {
  color: #fff;
}

a {
  text-decoration: none;
}

a:hover {
  color: #fba0e3;
}

h2 {
  padding: 2rem 0 0;
}

h2::after {
  content: "";
  display: block;
  background-color: #fba0e3;
  height: 1px;
  width: 100%;
  margin: 1rem 0 0.8rem;
}

img {
  width: 100%;
  height: 100%;
}

.beige {
  color: #e0d6ac;
}

.pink {
  color: #fba0e3;
}

header {
  background-color: #1e1e1e;
}

header nav {
  padding: 1rem 0.5rem;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav ul li {
  list-style-type: none;
  padding: 0 1.5rem;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header nav ul li:hover {
  color: #fba0e3;
}

main .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .title .col-30 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

main .title .col-70 {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  padding-left: 2.5rem;
  background-color: #1e1e1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .title .col-70 h1 {
  text-transform: uppercase;
  font-size: 4rem;
  color: #fff;
}

main .title .col-70 h1 span {
  color: #fba0e3;
}

main .title .col-70 h1::after {
  content: "";
  display: block;
  background-color: #fba0e3;
  height: 1px;
  width: 40%;
  margin: 1rem 0;
}

main .title .col-70 p {
  font-size: 2rem;
}

main .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .info .col-30 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  padding: 1rem;
  background-color: #1e1e1e;
}

main .info .col-30 ul li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.3rem;
}

main .info .col-30 ul li img {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}

main .info .col-30 .subtitle {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1rem 0;
}

main .info .col-70 {
  padding: 1rem 2rem 2rem;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  background: #3c3d3d;
}

main .info .col-70 .about p::before {
  content: "<";
  font-size: 20px;
  margin-left: -12px;
  color: #fba0e3;
}

main .info .col-70 .about p::after {
  content: "/>";
  font-size: 20px;
  color: #fba0e3;
}

main .info .col-70 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .info .col-70 ul li {
  list-style-type: none;
  padding: 0.5rem;
  margin: 0.3rem;
  border: 1px solid #fba0e3;
  border-radius: 10px;
}

main .info .col-70 .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

main .info .col-70 .project-item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 0.4rem;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  background-color: #1e1e1e;
}

footer .container img {
  width: 50px;
}

footer .container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container a img {
  margin-right: 1rem;
  width: 30px;
}

@media (max-width: 820px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 688px) {
  main .title {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .title .col-30 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0.5rem 4rem;
  }
  main .title .col-70 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .title .col-70 h1 {
    font-size: 2rem;
  }
  main .title .col-70 h1::after {
    width: 100%;
  }
  main .title .col-70 p {
    font-size: 1rem;
    padding-bottom: 1rem;
  }
  main .info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main .info .col-30 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 0 2rem;
  }
  main .info .col-70 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  footer .container {
    padding: 1.5rem 1rem;
  }
}
/*# sourceMappingURL=style.css.map */